h1, h2, h3, h4, h5, h6, a:hover {
  color: black; }

a, .links-list li, .person-card > .caption p {
  color: rgba(0, 0, 0, 0.7); }

html, body, .container {
  min-height: 100%; }

body {
  background-color: rgba(241, 248, 233, 0.5);
  font-family: var(--font-family-monospace);
  font-size: 1.2rem; }

a {
  transition: 0.2s; }
  a:hover {
    font-size: 1.3rem;
    text-decoration: none !important; }

.section {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding-bottom: .75rem;
  padding-top: .75rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 960px;
  box-shadow: 0 3px 13px 1px rgba(0, 0, 0, 0.2);
  transition: 0.2s; }
  .section:hover {
    box-shadow: 0 6px 26px 0 rgba(0, 0, 0, 0.2); }
  .section h2 {
    margin-top: .25rem;
    margin-bottom: .5rem; }

.person-card {
  width: 250px;
  cursor: pointer; }
  .person-card > .img {
    background-image: url("../img/vk_small.png");
    border: 2px solid #dc3545;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5rem;
    margin-bottom: .5rem; }
  .person-card > .caption {
    margin-bottom: .5rem; }
    .person-card > .caption h5 {
      margin-bottom: 0; }
    .person-card > .caption p {
      margin-bottom: 0; }

.links-list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: .5rem; }
  .links-list .project-line {
    line-height: 2;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: 0.2s; }
    @media only screen and (min-width: 576px) {
      .links-list .project-line {
        padding-left: 2rem;
        padding-right: 2rem; } }
    .links-list .project-line:hover {
      background-color: rgba(0, 0, 0, 0.05);
      border-left: 2px solid #fd7e14;
      border-right: 2px solid #fd7e14;
      cursor: pointer; }
    .links-list .project-line::after {
      display: none; }
      @media only screen and (min-width: 576px) {
        .links-list .project-line::after {
          content: '....................................................................................................';
          display: block;
          white-space: nowrap;
          overflow: hidden;
          padding-left: .5rem; } }
    .links-list .project-line .project-title {
      display: block;
      float: none; }
      @media only screen and (min-width: 576px) {
        .links-list .project-line .project-title {
          display: inline;
          float: left; } }
    .links-list .project-line .project-links {
      display: none;
      float: none; }
      @media only screen and (min-width: 576px) {
        .links-list .project-line .project-links {
          display: inline;
          float: right; } }
      .links-list .project-line .project-links > a {
        padding-left: .5rem; }
  .links-list .project-description {
    background-color: rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 1rem;
    padding: .5rem 2rem;
    text-align: left;
    transition: 0.2s; }

/*# sourceMappingURL=styles.css.map */
